.wrapper {
    height: 266px;
    width: 400px;
    background-color:grey;
    color:white;
    border-radius: 0px;
}
.divimg
{
    height:60%;
    width:100%;
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
}
/* .sundiv
{ 
    height:60%;
    width:100%;
    background-image: url("images/sun.jpg");
    background-size: cover;
} */
.mainflex
{
    display: flex;
    height:40%;
}
.mindiv
{
    width:20%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 31px;
    height: 100%;
    justify-content: center;
    padding-left: 9px;
}
.maxdiv
{
    width:20%;
    border: 1px solid black;
    padding-top: 31px;
    height: 100%;
    justify-content: center;
    padding-left: 6px;
}
.presdiv
{
    width:20%;  
    border: 1px solid black;
    padding-top: 31px;
    height: 100%;
    justify-content: center;
    padding-left: 11px;
}
.humdiv
{
    width:20%;
    border: 1px solid black;
    padding-top: 31px;
    height: 100%;
    justify-content: center;
    padding-left: 12px;
}
.tempdiv
{
    width:20%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 31px;
    height: 100%;
    justify-content: center;
    padding-left: 18px;

}
.descdiv
{
   width:50%;
   padding-top:17%;
   
}
.citydiv
{
    width: 50%;
    height: 100%;
    padding-left: 32px;
    padding-top: 35px;
}
.imgcl{
    width:90px;
    height:90px;
}
.para
{
    padding-left:10px;
}
.aa{
    text-align:center;
}