p{
    color: violet;

}
@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);

    }
}
.field field--name-field-image field--type-image field--label-hidden field--item {
    @include background('download.png');
}

